@import './base/_reset.scss';
@import './base/_fonts.scss';
@import './utils/_variables.scss';
@import './utils/_mixins.scss';

body{
    @include bgGradient;
    background: no-repeat cover center;
    height: 100vh;
    main{
        height: 100%;
        display: flex;
        flex-direction: column;
        @include flexCenter;
        .sun{
            width: 50rem;
            margin-bottom: 1rem;
        }
        .container{
            .row{
                display: flex;
                flex-direction: column;
                @include flexCenter;
                gap: 2rem;
                #header{
                    h1{
                        font-family: 'Roboto', sans-serif;
                        font-size: 4rem;
                        color: #fff;
                        text-align: center;
                        text-transform: capitalize;
                    }
                }
                #box{
                    display: flex;
                    flex-direction: column;
                    @include flexCenter;
                    gap: 3rem;
                    #cityInput{
                        font-family: 'Roboto', sans-serif;
                        font-size: 5rem;
                        color: black;
                        text-align: center;
                        border: 1px solid #fff;
                        border-radius: 1rem;
                    }
                }
                #subBtn{
                    display: flex;
                    gap: 1.5em;
                    #btn, #clearbtn{
                        font-family: 'Roboto', sans-serif;
                        font-size: 2rem;
                        font-weight: bold;
                        color: black;
                        text-align: center;
                        background: $white;
                        border: 1px solid $white;
                        border-radius: 5px;
                        padding: 2rem;
                        width: 15rem;
                        cursor: pointer;
                        transition: all 0.3s ease-in-out;
                        justify-self: center;
                        margin-bottom: 2rem;
                        &:hover{
                            @include bgGradient;
                            color: $white;
                            transform: scale(1.15);
                        }
                    }
                }
            }
            #output{
                display: flex;
                flex-wrap: wrap;
                @include flexCenter;
                gap: 2rem;
                .cityCard{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                    width: 15rem;
                    height: 20rem;
                    border: 3px solid $white;
                    border-radius: 1rem;
                    color: $white;
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 1.6rem;
                    padding: 2.5rem 1rem;
                    text-align: center;
                    font-weight: bold;
                    margin-bottom: 2rem;
        }
    }
}
}
}