@import './base/_reset.scss';
@import './base/_fonts.scss';
@import './utils/_variables.scss';
@import './utils/_mixins.scss';


body{
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-color: #bbb;

}

main{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Arial, Helvetica, sans-serif';
    .container{
        background: #000000d0;
        color: $white;
        padding: 2rem;
        border-radius: 30px;
        width: 40%;
        margin: 1rem;
        min-width: min-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        #box{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 3rem;
            #cityInput{
                font-family: 'Roboto', sans-serif;
                font-size: 25px;
                color: black;
                text-align: center;
                border: 1px solid #fff;
                border-radius: 1rem;
                margin-bottom: 1.5rem;
                width: 80%;
                    }
            }
        }
    }

#subBtn{
    display: flex;
    justify-content: center;
    gap: 4em;
    #btn, #clearbtn{
        background: #7c7c7c2b;
        color: white;
        border: 1px solid #7c7c7c2b;
        border-radius: 5px;
        padding: 1rem;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        transition: ease-in-out 0.2s;
        cursor: pointer;
        &:hover{
            transform: scale(1.3);
        }
    }
}

#output{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    .currentCityCard{
        color: $white;
        padding: 2rem;
        border-radius: 30px;
        max-width: 500px;
        margin: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.5rem;
        .cityContainer{
            font-size: 25px;
            font-weight: bold;
            color: $white;
            text-align: center;
            margin-bottom: 1rem;
        }
        .weatherContainer{
            font-size: 25px;
            font-weight: bold;
            color: $white;
            text-align: center;
            margin-bottom: 1rem;
        }
        .tempContainer{
            font-size: 25px;
            font-weight: bold;
            color: $white;
            text-align: center;
            margin-bottom: 1rem;
        }
        .iconImgContainer{
            display: flex;
            justify-content: center;
            transform: scale(1.5);
        }
    }
    .fiveDaysContainer{
        display: flex;
        flex-wrap: wrap;
        gap: 4rem;
        justify-content: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        color: $white;
        padding: 2rem;
        text-align: center;
        .cityCard{
            padding: 1rem;
            margin-top: -4rem;
            .dateContainer{
                font-size: 15px;
                font-weight: bold;
                color: $white;
                text-align: justify center;
                margin-bottom: 0.5rem;
            }
            .tempMinContainer{
                font-size: 15px;
                font-weight: bold;
                color: $white;
                text-align: justify center;
                margin-bottom: 0.5rem;
            }
            .tempMaxContainer{
                font-size: 15px;
                font-weight: bold;
                color: $white;
                text-align: justify center;
                margin-bottom: 0.5rem;
            }
            .humidityContainer{
                font-size: 15px;
                font-weight: bold;
                color: $white;
                text-align: justify center;
                margin-bottom: 0.5rem;
            }
            .descriptionContainer{
                font-size: 15px;
                font-weight: bold;
                color: $white;
                text-align: justify center;
                margin-bottom: 0.5rem;
            }
        }
        }
}