/* < ----- Reset CSS ----- > */

* {
	margin: 0;
	padding: 0; //
	box-sizing: border-box;
	list-style: none; //Sert uniquement pour ul et ol
}

html {
	font-size: 62.5%;
}

a,
a:visited,
a:link{
	text-decoration: none;
}